<div class="tree">
    <ul>
      <li *ngFor="let node of familyNodes">
        {{ node.name }}
        <div>
          <button class="btn btn-outline-success" (click)="addParent(node, newParentNames[node.id])">Add Parent</button>
          <input type="text" [(ngModel)]="newParentNames[node.id]" placeholder="Enter Parent Name">

          <button class="btn btn-outline-success" (click)="addSibling(node, newSiblingNames[node.id])">Add Sibling</button>
          <input type="text" [(ngModel)]="newSiblingNames[node.id]" placeholder="Enter Sibling Name">

          <button class="btn btn-outline-success" (click)="addChild(node, newChildNames[node.id])">Add Child</button>
          <input type="text" [(ngModel)]="newChildNames[node.id]" placeholder="Enter Child Name">
          
          <button class="btn btn-outline-danger" (click)="deleteNode(node)">Delete Node</button>
        </div>
      </li>
      <div>
        <button class="btn btn-outline-info" type="submit" (click)="exportTree()">Export Tree</button>
        <div *ngIf="exportedTreeJson">
          <h3>Exported Tree JSON:</h3>
          <pre>{{ exportedTreeJson }}</pre>
        </div>
      </div>
    </ul>
</div>
